@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@theme {
  --font-scripte: Great Vibes, cursive;
  --color-primary_mc: #1c1c1b;  
  --color-second_mc: #ffbf01;
  --color-third_mc: #383838;
  --color-white_mc: #e9e8e9;
  --color-line: #a0aec013;

  --breakpoint-xxs: 320px;
  --breakpoint-xs: 450px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;


  --breakpoint-h-sm: 600px;
  --breakpoint-h-md: 850px;
  --breakpoint-h-lg: 900px;
  
}

i{
  cursor: pointer;
}

body{
  background-color: #1c1c1b;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

body {
  @apply bg-[#e9e8e9] text-black;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-[#1c1c1b] text-[#fefffe];
  }
}
